[Unit]
Description=Runs `nasa.service` daily.

[Timer]
OnBootSec=10m
OnCalendar=*-*-* 00:10:00
Unit=nasa.service
Persistent=true

[Install]
WantedBy=default.target
