[Unit]
Description=Set background to NASA's Astronomical Picture of the Day

[Service]
ExecStart=%h/.config/dragon/nasa/set-background

[Install]
WantedBy=default.target

